/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 102px 0;
  max-inline-size: 696px;
  min-block-size: 100dvb;
  background-image: var(--bg-img);
  background-size: cover;
}

.header {
  display: grid;
  grid-template-rows: 2fr min-content 1fr;
  gap: 20px;
  align-items: end;
  justify-items: center;
  inline-size: 100%;
  block-size: 100%;
  margin-block-end: 100px;
  font-family: var(--accent-font);
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.header-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 5px;
  text-transform: uppercase;
}

.theme-menu {
  align-self: start;
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: grid;
  row-gap: 10px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:focus {
  border: none;
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  opacity: 0.6;
  width: 0;
  transition: width 0.3s ease;
  border-bottom: 2px var(--accent-color) solid;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:hover {
  animation: color_point 0.3s ease forwards;
}

.theme-menu__button:disabled {
  animation: color_point 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  color: var(--accent-color);
  animation: point 2s ease-in-out infinite reverse;
}

.card {
  position: relative;
  margin-block-end: 54px;
}

.card_title {
  padding: 4px 10px 6px 10px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  border-block-end: none;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: "wght" var(--title-font-weight);
  line-height: normal;
}

.card_image {
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
}

.image-1 {
  filter: brightness(50%);
}

.image-2 {
  filter: contrast(120%);
}

.image-3 {
  filter: saturate(120%);
}

.image-4 {
  filter: sepia(0.5);
}

.image-5 {
  filter: invert(0.3);
}

.image-6 {
  filter: saturate(120%);
}

.image-7 {
  filter: saturate(120%) sepia(0.6) contrast(1.2);
}

.image-8 {
  filter: brightness(120%);
}

.label {
  position: absolute;
  top: 59px;
  right: 21px;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-block-start: -6px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: "wght" var(--text-font-weight);
  line-height: 21px; /* 116.667% */
}

.card_text-emotions {
  margin-block-start: 27px;
  margin-block-end: 25px;
}

.button__block {
  display: flex;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.5s ease;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  padding: 9px 17px;
  inline-size: 130px;
  block-size: 38px;
  cursor: pointer;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--color-span);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.card__like-button:hover .button__text {
  color: var(--color-span);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  transition: 0.3s ease;
  box-shadow: 2px 2px var(--accent-color);
}

.card__like-button::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.button__footer:hover .floppy {
  color: var(--color-span);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.button__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  inline-size: 335px;
  block-size: 51px;
  padding: 0;
  margin: 54px auto 0px;
  cursor: pointer;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
}

.button__footer:focus {
  outline: none;
}

.button__footer:focus-visible {
  transition: 0.3s ease;
  box-shadow: 2px 2px var(--accent-color);
}

.button__footer::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button__footer:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

.button__footer-text {
  position: relative;
  z-index: 1;
  margin-block-start: 3px;
  color: var(--color-span);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.button__footer:hover .button__footer-text {
  color: var(--color-span);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog {
  display: grid;
  position: fixed;
  inset: 0;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  padding: 29px;
  inline-size: 357px;
  block-size: 193px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.dialog:focus {
  outline: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.floppy-dialog {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.button__form {
  inline-size: 100%;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
}

.card__like-button_dialog {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  padding: 9px 17px;
  inline-size: 100%;
  block-size: 38px;
  cursor: pointer;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
}

.card__like-button_dialog:focus {
  outline: none;
}

.card__like-button_dialog:focus-visible {
  transition: 0.3s ease;
  box-shadow: 2px 2px var(--accent-color);
}

.card__like-button_dialog::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button_dialog:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
  transform-origin: left;
}

.button__text-dialog {
  position: relative;
  z-index: 1;
  margin-block-start: 3px;
  color: var(--color-span);
  mix-blend-mode: difference;
  transition: color 0.5s ease-in-out;
}

.text-dialog {
  grid-column: 2/4;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    align-items: baseline;
    block-size: 87vw;
  }

  .header_subtitle {
    display: grid;
    align-items: start;
    margin-block-end: 0px;
  }

  .theme-menu {
    margin-block-end: 30px;
  }

  .label {
    top: 79px;
  }

  .button__footer {
    flex-direction: column;
    justify-content: center;
    inline-size: 306px;
    block-size: 80px;
    row-gap: 8px;
  }

  .theme-menu__list {
    gap: 10px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .floppy-dialog {
    inline-size: 39px;
    block-size: 39px;
  }

  .button__footer-text {
    margin: 0;
  }
}
